<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Create New Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div>
        <h1>Create New Player</h1>
        <br />
        <div class="col-sm-4">
            <form action="#" th:action="@{/save}" th:object="${players}" method="post">

                <table>
                    <div alight="left">
                        <tr>
                            <label class="form-label">Player Name</label>
                            <td>
                                <input type="hidden" th:field="*{id}" />
                                <input type="text" th:field="*{name}" class="form-control" placeholder="Player Name" />
                            </td>
                        </tr>
                    </div>

                    <div alight="left">

                        <tr>
                            <label class="form-label">Team</label>
                            <td><input type="text" th:field="*{team}" class="form-control" placeholder="team" /></td>
                        </tr>
                    </div>
                    <div alight="left">
                        <tr>
                            <label class="form-label">Age</label>
                            <td><input type="text" th:field="*{age}" class="form-control" placeholder="age" /></td>
                        </tr>
                    </div>
                    <br />
                    <tr>
                        <td colspan="2"><button type="submit" class="btn btn-info">Save</button> </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>

</html>